<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Iqueue</servlet-name>
		<servlet-class>com.iqueue.IqueueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iqueue</servlet-name>
		<url-pattern>/iqueue</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListSearchResults</servlet-name>
		<servlet-class>com.iqueue.ListSearchResultsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListSearchResults</servlet-name>
		<url-pattern>/ListSearchResults</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SaveIqueueItem</servlet-name>
		<servlet-class>com.iqueue.SaveIqueueItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveIqueueItem</servlet-name>
		<url-pattern>/SaveIqueueItem</url-pattern>
	</servlet-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
